<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.capsaicine.freeperiod">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="7b275b621f842f710cf86a6c8642bda9" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activities.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.login.RegisterActivity" />

        <!-- Pivot Activities -->
        <activity
            android:name=".activities.home.HomeActivity"
            android:theme="@style/NoAnimationTheme" />
        <activity
            android:name=".activities.meal.MealActivity"
            android:theme="@style/NoAnimationTheme" />
        <activity
            android:name=".activities.meal.PlayActivity"
            android:theme="@style/NoAnimationTheme" />
        <activity
            android:name=".activities.chat.ChatActivity"
            android:theme="@style/NoAnimationTheme" />
        <activity
            android:name=".activities.mypage.MyPageActivity"
            android:theme="@style/NoAnimationTheme" />

        <!-- in Pivot:Meal -->
        <activity android:name=".activities.meal.PartyRegistrationActivity" />
        <activity android:name=".activities.meal.PartySearchingActivity" />

        <!-- in Pivot:Chat -->
        <activity android:name=".activities.chat.ChattingActivity" />

        <!-- in Pivot:MyPage -->
        <activity android:name=".activities.mypage.JoinRoomActivity" />

        <service
            android:name=".activities.chat.ChatService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".app.Firebase.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".app.Firebase.MyFirebaseInstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.mypage.MyReviewActivity"
            android:label="@string/title_activity_my_review"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.chat.WriteReviewActivity" />
        <activity android:name=".activities.chat.ChattingMapActivity" />
        <activity android:name=".activities.chat.ReportActivity"></activity>
    </application>

</manifest>